{%- liquid
  assign hide_single_value_filter_groups = false
  if hide_single_value_filters == true
    assign hide_single_value_filter_groups = true
  endif

  assign filters_valid = false
  assign visible_filter_count = 0
  if results.filters != empty and show_filters
    for filter in results.filters
      assign filter_is_visible = true
      if hide_single_value_filter_groups
        if filter.type != 'price_range'
          if filter.active_values.size == 0 and filter.values.size <= 1
            assign filter_is_visible = false
          endif
        endif
      endif

      if filter_is_visible
        assign visible_filter_count = visible_filter_count | plus: 1
      endif
    endfor

    if visible_filter_count > 0
      assign filters_valid = true
    endif
  endif
-%}

{%- if filters_valid -%}
  <form
    class="filter-sidebar"
    id="filter-sidebar"
    data-filter-form
    data-filter-sidebar
    data-expanded="{% if collapse_filter_bar %}false{% else %}true{% endif %}"
  >
    <div class="filter-sidebar-inner" data-sticky-container>
      {%- if search.terms -%}
        <input
          type="hidden"
          name="q"
          id="SearchFilters--FilterDrawer"
          value="{{ search.terms | escape }}"
        >
      {%- endif -%}

      {%- comment -%} Keep search term within form {%- endcomment -%}
      {%- if results.terms -%}
        <input type="hidden" name="q" value="{{ results.terms | escape }}">
        <input name="options[prefix]" type="hidden" value="last">
      {%- endif -%}

      {%- comment -%} Keep product type within form {%- endcomment -%}
      {%- if results.current_type -%}
        <input type="hidden" name="q" value="{{ results.current_type | escape }}">
      {%- endif -%}

      {%- comment -%} Keep product vendor within form {%- endcomment -%}
      {%- if results.current_vendor -%}
        <input type="hidden" name="q" value="{{ results.current_vendor | escape }}">
      {%- endif -%}

      {%- for filter in results.filters -%}
        {% render 'filter-drawer-group',
          filter: filter,
          scope: 'sidebar',
          collapse_filter_groups: collapse_filter_groups,
          show_swatch_filters: show_swatch_filters,
          swatch_options: swatch_options,
          show_chip_filters: show_chip_filters,
          chip_options: chip_options,
          chip_layout: chip_layout,
          hide_single_value_filters: hide_single_value_filter_groups
        %}
      {%- endfor -%}
    </div>
  </form>
{%- endif -%}
