{%- liquid
  assign view_box = '0 0 24 24'

  if icon == 'filter'
    assign view_box = '0 0 21 11'
  endif

  if view_box_custom != blank
    assign view_box = view_box_custom
  endif
-%}

<span class="icon icon-new icon-{{ icon }} {{ class }}">
  <svg viewBox="{{ view_box }}" fill="none" xmlns="http://www.w3.org/2000/svg">
    {%- case icon -%}

    {%- comment -%}Header icons - these follow specific inner whitespace and should only be used in the header{%-
    endcomment -%}
    {%- when 'header-account' -%}
      <path d="M21.6484 19.8751C20.2206 17.4067 18.0203 15.6367 15.4525 14.7976C16.7226 14.0415 17.7094 12.8893 18.2614 11.518C18.8134 10.1468 18.8999 8.63224 18.5078 7.20701C18.1157 5.78178 17.2666 4.52467 16.0909 3.62873C14.9151 2.73279 13.4778 2.24756 11.9996 2.24756C10.5215 2.24756 9.08414 2.73279 7.90842 3.62873C6.73269 4.52467 5.88358 5.78178 5.49146 7.20701C5.09935 8.63224 5.18592 10.1468 5.73788 11.518C6.28984 12.8893 7.27668 14.0415 8.54683 14.7976C5.97902 15.6357 3.77871 17.4057 2.35089 19.8751C2.29853 19.9605 2.2638 20.0555 2.24875 20.1545C2.2337 20.2535 2.23863 20.3545 2.26326 20.4516C2.28789 20.5487 2.33171 20.6399 2.39214 20.7197C2.45257 20.7996 2.52838 20.8666 2.6151 20.9167C2.70183 20.9667 2.79771 20.999 2.89709 21.0114C2.99647 21.0238 3.09733 21.0163 3.19373 20.9891C3.29012 20.9619 3.3801 20.9157 3.45835 20.8532C3.5366 20.7907 3.60154 20.7131 3.64933 20.6251C5.41558 17.5726 8.53746 15.7501 11.9996 15.7501C15.4618 15.7501 18.5837 17.5726 20.35 20.6251C20.3977 20.7131 20.4627 20.7907 20.5409 20.8532C20.6192 20.9157 20.7092 20.9619 20.8056 20.9891C20.902 21.0163 21.0028 21.0238 21.1022 21.0114C21.2016 20.999 21.2975 20.9667 21.3842 20.9167C21.4709 20.8666 21.5467 20.7996 21.6072 20.7197C21.6676 20.6399 21.7114 20.5487 21.736 20.4516C21.7607 20.3545 21.7656 20.2535 21.7505 20.1545C21.7355 20.0555 21.7008 19.9605 21.6484 19.8751ZM6.74964 9.00011C6.74964 7.96176 7.05755 6.94672 7.63443 6.08337C8.21131 5.22001 9.03124 4.5471 9.99056 4.14974C10.9499 3.75238 12.0055 3.64841 13.0239 3.85099C14.0423 4.05356 14.9777 4.55357 15.712 5.2878C16.4462 6.02202 16.9462 6.95748 17.1488 7.97589C17.3513 8.99429 17.2474 10.0499 16.85 11.0092C16.4527 11.9685 15.7797 12.7884 14.9164 13.3653C14.053 13.9422 13.038 14.2501 11.9996 14.2501C10.6077 14.2486 9.27322 13.695 8.28898 12.7108C7.30473 11.7265 6.75113 10.392 6.74964 9.00011Z" fill="currentColor"/>

    {%- when 'header-search' -%}
      <path d="M19.7748 18.6875L14.9656 13.8793C16.3595 12.2058 17.0546 10.0594 16.9062 7.88649C16.7579 5.7136 15.7775 3.68155 14.1691 2.21306C12.5607 0.744569 10.448 -0.0472976 8.27066 0.00218707C6.09327 0.0516718 4.01878 0.938698 2.47874 2.47874C0.938698 4.01878 0.0516718 6.09327 0.00218707 8.27066C-0.0472976 10.448 0.744569 12.5607 2.21306 14.1691C3.68155 15.7775 5.7136 16.7579 7.88649 16.9062C10.0594 17.0546 12.2058 16.3595 13.8793 14.9656L18.6875 19.7748C18.7589 19.8462 18.8437 19.9028 18.937 19.9415C19.0302 19.9801 19.1302 20 19.2312 20C19.3321 20 19.4321 19.9801 19.5254 19.9415C19.6187 19.9028 19.7034 19.8462 19.7748 19.7748C19.8462 19.7034 19.9028 19.6187 19.9415 19.5254C19.9801 19.4321 20 19.3321 20 19.2312C20 19.1302 19.9801 19.0302 19.9415 18.937C19.9028 18.8437 19.8462 18.7589 19.7748 18.6875ZM1.55803 8.47361C1.55803 7.10583 1.96362 5.76878 2.72351 4.63151C3.4834 3.49425 4.56347 2.60787 5.82713 2.08444C7.09078 1.56102 8.48128 1.42407 9.82277 1.69091C11.1643 1.95775 12.3965 2.61639 13.3637 3.58355C14.3308 4.55071 14.9895 5.78295 15.2563 7.12444C15.5231 8.46593 15.3862 9.85643 14.8628 11.1201C14.3393 12.3837 13.453 13.4638 12.3157 14.2237C11.1784 14.9836 9.84138 15.3892 8.47361 15.3892C6.6401 15.3872 4.88228 14.6579 3.5858 13.3614C2.28932 12.0649 1.56006 10.3071 1.55803 8.47361Z" fill="currentColor"/>

    {%- when 'header-shopping-bag' -%}
    <path
      d="M16.148 11.479c-.101-1.428-.125-2.985-.296-4.57C15.577 4.37 14.372 2.64 12 2.64S8.423 4.37 8.148 6.908c-.171 1.586-.195 3.142-.296 4.57"
      stroke="currentColor" stroke-width="1.2" stroke-miterlimit="10" stroke-linejoin="bevel" />
    <path d="M20.701 20.438V8.816H3.3v11.622H20.7z" stroke="currentColor" stroke-width="1.2" stroke-miterlimit="10" />

    {%- when 'header-shopping-cart' -%}
      <path d="M21.5756 5.51906C21.5052 5.43481 21.4172 5.36705 21.3177 5.32056C21.2183 5.27407 21.1098 5.24998 21 5.25H5.87625L5.30625 2.11594C5.27485 1.94313 5.1838 1.78681 5.04897 1.67425C4.91414 1.56169 4.74408 1.50003 4.56844 1.5H2.25C2.05109 1.5 1.86032 1.57902 1.71967 1.71967C1.57902 1.86032 1.5 2.05109 1.5 2.25C1.5 2.44891 1.57902 2.63968 1.71967 2.78033C1.86032 2.92098 2.05109 3 2.25 3H3.9375L6.33375 16.1522C6.40434 16.5422 6.57671 16.9067 6.83344 17.2087C6.47911 17.5397 6.22336 17.9623 6.09455 18.4298C5.96575 18.8972 5.96892 19.3912 6.10371 19.8569C6.23851 20.3226 6.49966 20.7419 6.85821 21.0683C7.21676 21.3947 7.6587 21.6154 8.13502 21.7059C8.61134 21.7965 9.10344 21.7533 9.55673 21.5813C10.01 21.4092 10.4068 21.115 10.7031 20.7312C10.9994 20.3474 11.1836 19.889 11.2353 19.407C11.287 18.9249 11.2041 18.4379 10.9959 18H15.2541C15.0863 18.3513 14.9995 18.7357 15 19.125C15 19.6442 15.154 20.1517 15.4424 20.5834C15.7308 21.0151 16.1408 21.3515 16.6205 21.5502C17.1001 21.7489 17.6279 21.8008 18.1371 21.6996C18.6463 21.5983 19.114 21.3483 19.4812 20.9812C19.8483 20.614 20.0983 20.1463 20.1996 19.6371C20.3008 19.1279 20.2489 18.6001 20.0502 18.1205C19.8515 17.6408 19.5151 17.2308 19.0834 16.9424C18.6517 16.654 18.1442 16.5 17.625 16.5H8.54719C8.37155 16.5 8.20149 16.4383 8.06665 16.3257C7.93182 16.2132 7.84077 16.0569 7.80938 15.8841L7.51219 14.25H18.3872C18.9141 14.2499 19.4243 14.0649 19.8288 13.7272C20.2333 13.3896 20.5064 12.9206 20.6006 12.4022L21.7406 6.13406C21.7599 6.02572 21.7551 5.91447 21.7266 5.80818C21.6981 5.7019 21.6466 5.60319 21.5756 5.51906ZM9.75 19.125C9.75 19.3475 9.68402 19.565 9.5604 19.75C9.43679 19.935 9.26109 20.0792 9.05552 20.1644C8.84995 20.2495 8.62375 20.2718 8.40552 20.2284C8.18729 20.185 7.98684 20.0778 7.8295 19.9205C7.67217 19.7632 7.56502 19.5627 7.52162 19.3445C7.47821 19.1262 7.50049 18.9 7.58564 18.6945C7.67078 18.4889 7.81498 18.3132 7.99998 18.1896C8.18499 18.066 8.4025 18 8.625 18C8.92337 18 9.20952 18.1185 9.4205 18.3295C9.63147 18.5405 9.75 18.8266 9.75 19.125ZM18.75 19.125C18.75 19.3475 18.684 19.565 18.5604 19.75C18.4368 19.935 18.2611 20.0792 18.0555 20.1644C17.85 20.2495 17.6238 20.2718 17.4055 20.2284C17.1873 20.185 16.9868 20.0778 16.8295 19.9205C16.6722 19.7632 16.565 19.5627 16.5216 19.3445C16.4782 19.1262 16.5005 18.9 16.5856 18.6945C16.6708 18.4889 16.815 18.3132 17 18.1896C17.185 18.066 17.4025 18 17.625 18C17.9234 18 18.2095 18.1185 18.4205 18.3295C18.6315 18.5405 18.75 18.8266 18.75 19.125ZM19.125 12.1341C19.0935 12.3074 19.0021 12.464 18.8666 12.5766C18.7312 12.6893 18.5605 12.7506 18.3844 12.75H7.23938L6.14906 6.75H20.1009L19.125 12.1341Z" fill="currentColor"/>

    {%- when 'header-menu' -%}
      <rect width="25" height="2" fill="currentColor"/>
      <rect y="7" width="25" height="2" fill="currentColor"/>
      <rect y="14" width="25" height="2" fill="currentColor"/>


    {%- comment -%}TODO: Add once mobile menu has been plugged in{%- endcomment -%}
    {%- when 'header-menu-close' -%}
    <path d="M4 3.92371L19.9997 20.0763" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M20 3.92371L4.00026 20.0763" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>


    {%- comment -%}Utility icons{%- endcomment -%}
    {%- when 'close-small' -%}
    <path
      d="M4.717 1.975 3.347.605.604 3.346l1.37 1.37 2.742-2.74zm14.566 20.05 1.37 1.37 2.742-2.741-1.37-1.37-2.742 2.74zm2.742-17.308 1.37-1.37L20.654.604l-1.37 1.37 2.74 2.742zM1.975 19.283l-1.37 1.37 2.741 2.742 1.37-1.37-2.74-2.742zm0-14.566 8.654 8.654 2.742-2.742-8.654-8.654-2.742 2.742zm11.396 8.654 8.654-8.654-2.742-2.742-8.654 8.654 2.742 2.742zm-2.742-2.742-8.654 8.654 2.742 2.741 8.654-8.653-2.742-2.742zm0 2.742 8.654 8.653 2.742-2.74-8.654-8.655-2.742 2.742z"
      fill="currentColor" />

    {%- when 'plus' -%}
    <path d="M1 12H12M23 12H12M12 12V1M12 12V23" stroke="currentColor" stroke-width="2" />

    {%- when 'plus-small' -%}
    <path
      d="M13.25 1.5V.25h-2.5V1.5h2.5zm-2.5 21v1.25h2.5V22.5h-2.5zM1.5 10.75H.25v2.5H1.5v-2.5zm21 2.5h1.25v-2.5H22.5v2.5zm-21 0H12v-2.5H1.5v2.5zm10.5 0h10.5v-2.5H12v2.5zM10.75 1.5V12h2.5V1.5h-2.5zm0 10.5v10.5h2.5V12h-2.5z"
      fill="currentColor" />

    {%- when 'minus' -%}
    <path d="M1 12H23" stroke="currentColor" stroke-width="2" />

    {%- when 'minus-small' -%}
    <path d="M1.5 10.75H.25v2.5H1.5v-2.5zm21 2.5h1.25v-2.5H22.5v2.5zm-21 0H12v-2.5H1.5v2.5zm10.5 0h10.5v-2.5H12v2.5z"
      fill="currentColor" />

    {%- when 'chevron' -%}
    <path d="M1.875 7.438 12 17.563 22.125 7.438" stroke="currentColor" stroke-width="2" />

    {%- when 'chevron-small' -%}
    <path d="M1.875 7.438 12 17.563 22.125 7.438" stroke="currentColor" stroke-width="2.75" />

    {%- comment -%}TODO: to be added to the mobile menu language selector{%- endcomment -%}
    {%- when 'globe' -%}
    <path
      d="M12 22.305c5.692 0 10.305-4.614 10.305-10.305S17.692 1.695 12 1.695C6.31 1.695 1.695 6.309 1.695 12S6.309 22.305 12 22.305zM2.454 8.826h19.092M2.454 15.174h19.092"
      stroke="currentColor" stroke-width="1.2" stroke-miterlimit="10" />
    <path d="M12 1.518c5.256 6.988 5.256 13.975 0 20.965M12 1.518c-5.255 6.988-5.255 13.975 0 20.965"
      stroke="currentColor" stroke-width="1.2" stroke-miterlimit="10" />

    {%- when 'sort' -%}
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="m7.296 4.227-.48-.48-.48.48L2.75 7.814l-.48.48.96.96.48-.48 2.427-2.428V19.309h1.358V6.346l2.428 2.428.48.48.96-.96-.48-.48-3.587-3.587zm10.367 15.546-.48.48-.48-.48-3.586-3.586-.48-.48.96-.96.48.48 2.427 2.427V4.691h1.358v12.963l2.428-2.427.48-.48.96.96-.48.48-3.587 3.586z"
      fill="currentColor" />

    {%- when 'download' -%}
    <path d="M10 10.625V2.5" stroke="currentColor" stroke-linecap="square" />
    <path d="M16.875 11.25V16.25H3.125V11.25" stroke="currentColor" stroke-linecap="square" />
    <path d="M13.125 8.125L10 11.25L6.875 8.125" stroke="currentColor" stroke-linecap="square" />

    {%- when 'filter' -%}
    <path d="M19.75 7.75H6.6875M4.3125 7.75H0.75M13.8125 2.75H0.75M19.75 2.75H16.1875M5.5 5.75C5.81494 5.75 6.11699 5.85536 6.33969 6.04289C6.56239 6.23043 6.6875 6.48478 6.6875 6.75V8.75C6.6875 9.01522 6.56239 9.26957 6.33969 9.45711C6.11699 9.64464 5.81494 9.75 5.5 9.75C5.18506 9.75 4.88301 9.64464 4.66031 9.45711C4.43761 9.26957 4.3125 9.01522 4.3125 8.75V6.75C4.3125 6.48478 4.43761 6.23043 4.66031 6.04289C4.88301 5.85536 5.18506 5.75 5.5 5.75ZM15 0.75C15.3149 0.75 15.617 0.855357 15.8397 1.04289C16.0624 1.23043 16.1875 1.48478 16.1875 1.75V3.75C16.1875 4.01522 16.0624 4.26957 15.8397 4.45711C15.617 4.64464 15.3149 4.75 15 4.75C14.6851 4.75 14.383 4.64464 14.1603 4.45711C13.9376 4.26957 13.8125 4.01522 13.8125 3.75V1.75C13.8125 1.48478 13.9376 1.23043 14.1603 1.04289C14.383 0.855357 14.6851 0.75 15 0.75Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />

    {%- when 'quick-add' -%}
    <path class="quick-shop-circle"
      d="M12 22.884c6.011 0 10.884-4.873 10.884-10.884C22.884 5.99 18.01 1.116 12 1.116 5.99 1.116 1.116 5.99 1.116 12c0 6.01 4.873 10.884 10.884 10.884z"
      stroke="currentColor" stroke-width=".9" stroke-miterlimit="10" stroke-linecap="round" />
    <path
      d="M14.768 11.821c-.05-.937-.082-2.315-.194-3.351-.18-1.66-.967-2.791-2.518-2.791-1.551 0-2.34 1.13-2.518 2.79-.113 1.037-.144 2.416-.194 3.352"
      stroke="currentColor" stroke-width=".9" stroke-miterlimit="10" />
    <path d="M17.58 9.717H6.531v7.6H17.58v-7.6z" stroke="currentColor" stroke-width=".9" stroke-miterlimit="10" />

    {%- when 'quick-view' -%}
    <path class="quick-shop-circle"
      d="M12 22.884c6.011 0 10.884-4.873 10.884-10.884C22.884 5.99 18.01 1.116 12 1.116 5.99 1.116 1.116 5.99 1.116 12c0 6.01 4.873 10.884 10.884 10.884z"
      stroke="currentColor" stroke-width=".9" stroke-miterlimit="10" stroke-linecap="round" />
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width=".842"
      d="M12 14.307a2.307 2.307 0 1 0 0-4.614 2.307 2.307 0 0 0 0 4.614z" />
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width=".842"
      d="M19.502 11.782c-.771-.87-3.837-4.067-7.502-4.067-3.665 0-6.73 3.197-7.502 4.067a.343.343 0 0 0 0 .435c.771.87 3.837 4.068 7.502 4.068 3.665 0 6.73-3.197 7.502-4.068a.343.343 0 0 0 0-.435z" />

    {%- when 'copy' -%}
    <path d="M17.562 5.574H3.404v17.31h14.158V5.575z" stroke="currentColor" stroke-width="1.513"
      stroke-miterlimit="10" />
    <path d="M17.731 19.424h3.748V.919H7.326v4.655" stroke="currentColor" stroke-width="1.513" stroke-miterlimit="10" />

    {%- when 'share' -%}
    <path d="M8.04 8.828H4v14.414h15.845V8.828h-4.04M12 16.855V2.368M16 5.924l-4.024-4.316L7.95 5.924"
      stroke="currentColor" stroke-width="1.496" stroke-miterlimit="10" />

    {%- when 'star-filled' -%}
    <path
      d="m13 3.532 2.35 7.233h7.606l-6.153 4.47 2.35 7.233L13 17.998l-6.153 4.47 2.35-7.233-6.153-4.47h7.605L13 3.532z"
      fill="currentColor" stroke="currentColor" stroke-width="1.6" stroke-miterlimit="10" stroke-linecap="square" />

    {%- when 'star-half' -%}
    <path d="M13 3.532v14.466l-6.153 4.47 2.35-7.233-6.153-4.47h7.605L13 3.532z" fill="currentColor" />
    <path
      d="m13 3.532 2.35 7.233h7.606l-6.153 4.47 2.35 7.233L13 17.998l-6.153 4.47 2.35-7.233-6.153-4.47h7.605L13 3.532z"
      stroke="currentColor" stroke-width="1.6" stroke-miterlimit="10" stroke-linecap="square" />

    {%- when 'star-empty' -%}
    <path
      d="m13 3.532 2.35 7.233h7.606l-6.153 4.47 2.35 7.233L13 17.998l-6.153 4.47 2.35-7.233-6.153-4.47h7.605L13 3.532z"
      stroke="currentColor" stroke-width="1.6" stroke-miterlimit="10" stroke-linecap="square" />

    {%- when 'checkmark' -%}
    <path d="m1.88 11.988 6.21 6.103L22.467 3.83" stroke="currentColor" stroke-width="3.055" />

    {%- when 'discount-badge' -%}
    <path fill="currentColor"
      d="M10.63 22.82 1.2 13.34A4 4 0 0 1 0 10.53V4a4.11 4.11 0 0 1 .3-1.52 3.81 3.81 0 0 1 .87-1.3A3.88 3.88 0 0 1 2.48.3 4 4 0 0 1 4 0l6.73.05a4 4 0 0 1 2.79 1.17l9.29 9.34A4 4 0 0 1 24 13.4a4 4 0 0 1-1.17 2.83l-6.56 6.59a3.87 3.87 0 0 1-1.29.87 3.81 3.81 0 0 1-1.53.31 4 4 0 0 1-2.82-1.18zM7.3 7.43a1.55 1.55 0 0 0 0-2.17 1.53 1.53 0 1 0 0 2.17z" />

    {%- when 'package-closed' -%}
    <path d="M22.48 5.28 12 8.813 1.518 5.28M12 21.851V8.814" stroke="currentColor" stroke-width="1.2"
      stroke-miterlimit="10" />
    <path d="m7.025 3.425 10.48 3.535" stroke="currentColor" stroke-width="1.079" stroke-miterlimit="10" />
    <path d="m12 21.851 10.48-4.413V5.279L12 1.75 1.518 5.279v12.159L12 21.85z" stroke="currentColor" stroke-width="1.2"
      stroke-miterlimit="10" />
    <path d="m4.322 8.855 4.403 1.524v2.945L4.322 11.67V8.855z" stroke="currentColor" stroke-width="1.079"
      stroke-miterlimit="10" />

    {%- when 'padlock' -%}
    <path d="M15.058 8.387V5.834a2.658 2.658 0 1 0-5.316 0v2.553" stroke="currentColor" stroke-width="1.222"
      stroke-miterlimit="10" />
    <path d="M17.445 8.485V5.763a5.045 5.045 0 1 0-10.09 0v2.722" stroke="currentColor" stroke-width="1.222"
      stroke-miterlimit="10" />
    <path d="M20.153 8.6H4.647v14.038h15.506V8.6z" stroke="currentColor" stroke-width="1.26" stroke-miterlimit="10"
      stroke-linecap="round" />
    <path
      d="M13.466 19.292v-3.948a2.064 2.064 0 0 0 1.005-1.767 2.072 2.072 0 1 0-4.145 0c0 .752.404 1.403 1.004 1.767v3.948h2.136z"
      stroke="currentColor" stroke-width="1.159" stroke-miterlimit="10" />

    {%- when 'arrow-short' -%}
    <path d="M0 12.5h23m-9.2 9.4 9.2-9.4-9.2-9.4" stroke="currentColor" stroke-width="1.75" />

    {%- when 'arrow-long' -%}
    <path d="m17.1 18.9 5.9-6.4L17.1 6m5.9 6.4H0" stroke="currentColor" stroke-width="1.1" />

    {%- when 'arrow-long-small' -%}
    <path d="m17.146 6 5.894 6.438m0 0-5.894 6.437m5.894-6.437H0" stroke="currentColor" stroke-width="1.971" />

    {%- when 'play-arrow' -%}
      <g clip-path="url(#play-arrow)">
        <rect width="36" height="36" fill="currentColor" rx="18"/>
        <path fill="#fffefb" d="M14.625 11.559v13.5L24.75 18z"/>
      </g>
      <defs>
        <clipPath id="play-arrow">
          <rect width="36" height="36" fill="#fff" rx="18"/>
        </clipPath>
      </defs>

    {%- when 'zoom' -%}
    <path d="M10.3,19.71c5.21,0,9.44-4.23,9.44-9.44S15.51,.83,10.3,.83,.86,5.05,.86,10.27s4.23,9.44,9.44,9.44Z"
      fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.63" />
    <path d="M5.05,10.27H15.54" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.63" />
    <path class="cross-up" d="M10.3,5.02V15.51" fill="none" stroke="currentColor" stroke-miterlimit="10"
      stroke-width="1.63" />
    <path d="M16.92,16.9l6.49,6.49" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.63" />

    {%- when 'secure' -%}
    <path stroke="currentColor"
      d="M0.826977 3.92833L0.5 4.04893V4.39744V11.5897C0.5 13.1829 1.31974 14.5153 2.43658 15.6702C3.54375 16.8151 5.00276 17.8457 6.39733 18.8309L6.42091 18.8476L6.42098 18.8476C6.68594 19.0347 6.94915 19.2208 7.20922 19.4067L7.50009 19.6147L7.79093 19.4067C8.05087 19.2207 8.31406 19.0347 8.57902 18.8476L8.57909 18.8476L8.60266 18.8309C9.99723 17.8457 11.4563 16.8151 12.5634 15.6702C13.6803 14.5153 14.5 13.1829 14.5 11.5897V4.39744V4.04893L14.173 3.92833L7.67307 1.53089L7.50004 1.46707L7.32702 1.53089L0.826977 3.92833ZM5.89382 12.199L6.25727 12.5348L6.59683 12.1749L10.5956 7.93619L10.6918 8.02631L6.24697 12.7359L4.30689 10.909L4.3957 10.8148L5.89382 12.199Z" />

    {%- comment -%}Shopify media UI{%- endcomment -%}
    {%- when '3d-badge' -%}
    <path d="M1,25H25V1H1Z" class="badge-background" />
    <path
      d="M19.13,8.28,14,5.32a2,2,0,0,0-2,0l-5.12,3a2,2,0,0,0-1,1.76V16a2,2,0,0,0,1,1.76l5.12,3a2,2,0,0,0,2,0l5.12-3a2,2,0,0,0,1-1.76V10A2,2,0,0,0,19.13,8.28Zm-6.4,11.1-5.12-3A.53.53,0,0,1,7.35,16V10a.53.53,0,0,1,.27-.46l5.12-3a.53.53,0,0,1,.53,0l5.12,3-4.72,2.68a1.33,1.33,0,0,0-.67,1.2v6a.53.53,0,0,1-.26,0Z"
      fill="currentColor" opacity="0.6" style="isolation:isolate" />

    {%- when 'play-badge' -%}
    <path class="badge-background" fill-rule="evenodd" clip-rule="evenodd" d="M1 25H25V1H1V25Z" />
    <path class="icon-color" fill-rule="evenodd" clip-rule="evenodd"
      d="M9.71814 6.71984C9.0517 6.31605 8.19995 6.79588 8.19995 7.5751V18.311C8.19995 19.1138 9.09826 19.5893 9.76217 19.1379L18.1123 13.4612C18.7146 13.0518 18.6912 12.1564 18.0682 11.779L9.71814 6.71984Z"
      fill="currentColor" fill-opacity="0.6" />

    {%- when '3d' -%}
    <path
      d="M12 2L3 7.20705V17.6079L12 22.8018L21 17.6079V7.20705L12 2ZM12.8194 11.3436L12 11.8722V20.5022L4.98238 16.4581V8.34361L12 4.29956L18.4361 8.01322L12.8194 11.3436Z"
      fill="currentColor" />

    {%- when '3d-button-control' -%}
    <g clip-path="url(#clip0)">
      <path d="M23.8033 0.196777H0.196716V23.8033H23.8033V0.196777Z" class="bg" fill="white" stroke="currentColor"
        stroke-miterlimit="10" />
      <path
        d="M12 6.82629L7.17639 9.60793V15.1791L12 17.9607L16.8236 15.1751V9.60793L12 6.82629ZM7.96328 14.7227V10.0643L12 7.73121L15.9856 10.0329L12 12.3463V17.0676L7.96328 14.7227Z"
        fill="currentColor" />
    </g>
    <defs>
      <clipPath id="clip0">
        <rect width="24" height="24" />
      </clipPath>
    </defs>

    {%- comment -%}Social icons{%- endcomment -%}
    {%- when 'linkedin' -%}
    <path
      d="M19 3A2 2 0 0 1 21 5V19A2 2 0 0 1 19 21H5A2 2 0 0 1 3 19V5A2 2 0 0 1 5 3H19M18.5 18.5V13.2A3.26 3.26 0 0 0 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17A1.4 1.4 0 0 1 15.71 13.57V18.5H18.5M6.88 8.56A1.68 1.68 0 0 0 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19A1.69 1.69 0 0 0 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56M8.27 18.5V10.13H5.5V18.5H8.27Z"
      fill="currentColor" />

    {%- when 'pinterest' -%}
    <path
      d="M12,2C6.477,2,2,6.477,2,12c0,4.237,2.636,7.855,6.356,9.312c-0.087-0.791-0.167-2.005,0.035-2.868 c0.182-0.78,1.172-4.971,1.172-4.971s-0.299-0.599-0.299-1.484c0-1.391,0.806-2.428,1.809-2.428c0.853,0,1.265,0.641,1.265,1.408 c0,0.858-0.546,2.141-0.828,3.329c-0.236,0.996,0.499,1.807,1.481,1.807c1.777,0,3.143-1.874,3.143-4.579 c0-2.394-1.72-4.068-4.177-4.068c-2.845,0-4.515,2.134-4.515,4.34c0,0.859,0.331,1.781,0.744,2.282 c0.082,0.099,0.093,0.186,0.069,0.287c-0.076,0.316-0.244,0.995-0.277,1.134c-0.043,0.183-0.145,0.222-0.334,0.133 c-1.249-0.582-2.03-2.408-2.03-3.874c0-3.154,2.292-6.052,6.608-6.052c3.469,0,6.165,2.472,6.165,5.776 c0,3.447-2.173,6.22-5.189,6.22c-1.013,0-1.966-0.527-2.292-1.148c0,0-0.502,1.909-0.623,2.378 c-0.226,0.868-0.835,1.958-1.243,2.622C9.975,21.843,10.969,22,12,22c5.522,0,10-4.478,10-10S17.523,2,12,2z"
      fill="currentColor" />

    {%- when 'snapchat' -%}
    <path
      d="M21.93 16.56C21.79 16.18 21.5 16 21.22 15.81C21.17 15.78 21.11 15.75 21.07 15.73C21 15.68 20.89 15.64 20.8 15.59C19.86 15.09 19.12 14.46 18.61 13.72C18.47 13.5 18.35 13.29 18.24 13.06C18.2 12.93 18.2 12.86 18.23 12.8C18.26 12.75 18.3 12.7 18.35 12.67C18.5 12.56 18.68 12.46 18.79 12.38C19 12.25 19.15 12.15 19.25 12.08C19.64 11.81 19.91 11.5 20.08 11.2C20.32 10.75 20.35 10.22 20.16 9.75C19.91 9.08 19.27 8.66 18.5 8.66C18.34 8.66 18.18 8.68 18 8.71C18 8.72 17.94 8.73 17.9 8.74C17.9 8.28 17.89 7.8 17.85 7.32C17.71 5.64 17.12 4.76 16.5 4.06C16.11 3.62 15.65 3.24 15.14 2.95C14.21 2.42 13.15 2.15 12 2.15S9.8 2.42 8.87 2.95C8.35 3.24 7.89 3.62 7.5 4.06C6.88 4.76 6.3 5.64 6.15 7.32C6.11 7.8 6.1 8.28 6.11 8.74C6.06 8.73 6 8.72 6 8.71C5.82 8.68 5.66 8.66 5.5 8.66C4.73 8.66 4.09 9.08 3.84 9.75C3.65 10.22 3.68 10.75 3.92 11.2C4.09 11.5 4.36 11.81 4.75 12.08C4.85 12.15 5 12.25 5.21 12.39L5.63 12.66C5.69 12.7 5.73 12.75 5.77 12.8C5.8 12.87 5.8 12.94 5.75 13.07C5.65 13.3 5.53 13.5 5.39 13.72C4.89 14.45 4.18 15.07 3.27 15.56C2.78 15.82 2.28 16 2.07 16.56C1.91 17 2 17.5 2.42 17.91C2.57 18.06 2.74 18.19 2.93 18.29C3.33 18.5 3.75 18.68 4.18 18.79C4.27 18.82 4.36 18.85 4.43 18.91C4.58 19.03 4.56 19.23 4.76 19.5C4.86 19.66 5 19.79 5.13 19.89C5.54 20.18 6 20.19 6.5 20.21C6.94 20.23 7.44 20.25 8 20.44C8.26 20.5 8.5 20.67 8.79 20.85C9.5 21.27 10.42 21.85 12 21.85C13.57 21.85 14.5 21.27 15.22 20.84C15.5 20.67 15.75 20.5 16 20.44C16.55 20.25 17.06 20.23 17.5 20.21C18 20.2 18.46 20.18 18.87 19.89C19.04 19.77 19.18 19.61 19.29 19.43C19.43 19.19 19.43 19 19.56 18.91C19.63 18.86 19.71 18.82 19.8 18.8C20.24 18.68 20.66 18.5 21.06 18.29C21.27 18.18 21.45 18.04 21.6 17.87L21.61 17.87C22 17.46 22.08 17 21.93 16.56M20.53 17.31C19.67 17.78 19.1 17.73 18.66 18C18.5 18.12 18.45 18.28 18.42 18.44C18.41 18.5 18.4 18.58 18.39 18.64C18.37 18.78 18.34 18.9 18.24 18.97C17.9 19.2 16.91 18.95 15.63 19.37C14.57 19.72 13.9 20.73 12 20.73C10.1 20.73 9.45 19.73 8.37 19.37C7.1 18.95 6.1 19.2 5.77 18.97C5.5 18.78 5.72 18.26 5.34 18C4.9 17.73 4.33 17.78 3.5 17.31C3.19 17.15 3.14 17 3.18 16.93C3.22 16.84 3.34 16.77 3.42 16.73C5.07 15.94 6 14.91 6.47 14.1C6.91 13.38 7 12.83 7.03 12.75C7.06 12.54 7.09 12.38 6.86 12.17C6.64 11.96 5.66 11.36 5.39 11.17C4.93 10.85 4.74 10.54 4.88 10.15L4.88 10.15V10.15C5 9.88 5.23 9.78 5.5 9.78C5.58 9.78 5.66 9.79 5.74 9.81C6.24 9.91 6.72 10.16 7 10.23C7.03 10.24 7.06 10.24 7.1 10.24C7.19 10.24 7.24 10.21 7.27 10.15C7.28 10.11 7.29 10.06 7.29 10C7.25 9.46 7.18 8.41 7.26 7.42C7.3 7 7.37 6.64 7.46 6.33C7.66 5.65 8 5.2 8.34 4.79C8.59 4.5 9.75 3.27 12 3.27C13.85 3.27 14.96 4.11 15.44 4.56C15.54 4.66 15.62 4.74 15.66 4.79C16.04 5.23 16.38 5.71 16.58 6.47C16.65 6.74 16.71 7.06 16.74 7.42C16.82 8.4 16.75 9.46 16.71 10C16.71 10.04 16.71 10.08 16.72 10.11C16.73 10.2 16.79 10.24 16.9 10.24C16.94 10.24 16.97 10.24 17 10.23C17.28 10.16 17.76 9.91 18.26 9.8C18.34 9.79 18.42 9.78 18.5 9.78C18.75 9.78 19 9.87 19.1 10.1L19.11 10.14L19.12 10.14L19.12 10.15C19.27 10.53 19.07 10.85 18.62 11.16C18.35 11.35 17.36 11.96 17.14 12.16C16.91 12.38 16.94 12.54 16.97 12.75C17 12.85 17.18 13.8 18.08 14.86C18.63 15.5 19.42 16.17 20.58 16.73C20.65 16.76 20.74 16.81 20.79 16.87C20.82 16.92 20.84 16.96 20.83 17C20.82 17.1 20.73 17.2 20.53 17.31Z"
      fill="currentColor" />

    {%- when 'tumblr' -%}
    <path
      d="M 20 2 L 4 2 C 2.898438 2 2 2.898438 2 4 L 2 20 C 2 21.101563 2.898438 22 4 22 L 20 22 C 21.101563 22 22 21.101563 22 20 L 22 4 C 22 2.898438 21.101563 2 20 2 Z M 17 17.875 C 17 17.921875 16.980469 17.972656 16.941406 18 C 16.894531 18.046875 15.515625 19 13 19 C 9.980469 19 10 15.386719 10 15 L 10 11 L 8.175781 11 C 8.078125 11 8 10.921875 8 10.824219 L 8 9.164063 C 8 9.085938 8.039063 9.027344 8.105469 9 C 8.136719 8.988281 11 7.730469 11 5.175781 C 11 5.078125 11.078125 5 11.175781 5 L 12.828125 5 C 12.921875 5 13 5.078125 13 5.175781 L 13 9 L 15.824219 9 C 15.914063 9 16 9.078125 16 9.175781 L 16 10.828125 C 16 10.921875 15.914063 11 15.824219 11 L 13 11 L 13 15 C 13 15.058594 12.90625 16.273438 14.199219 16.273438 C 15.261719 16.273438 16.71875 15.925781 16.730469 15.925781 C 16.789063 15.886719 16.855469 15.886719 16.902344 15.917969 C 16.960938 15.945313 17 16.003906 17 16.070313 Z"
      fill="currentColor" />

    {%- when 'twitter' -%}
    <path fill="currentColor"
      d="M13.903 10.464 21.348 2h-1.764l-6.465 7.35L7.955 2H2l7.808 11.114L2 21.99h1.764l6.828-7.761 5.452 7.76H22l-8.098-11.525Zm-2.417 2.747-.791-1.106L4.4 3.299h2.71l5.08 7.107.791 1.106 6.604 9.238h-2.71l-5.389-7.538Z" />

    {%- when 'vimeo' -%}
    <path
      d="M22,7.42C21.91,9.37 20.55,12.04 17.92,15.44C15.2,19 12.9,20.75 11,20.75C9.85,20.75 8.86,19.67 8.05,17.5C7.5,15.54 7,13.56 6.44,11.58C5.84,9.42 5.2,8.34 4.5,8.34C4.36,8.34 3.84,8.66 2.94,9.29L2,8.07C3,7.2 3.96,6.33 4.92,5.46C6.24,4.32 7.23,3.72 7.88,3.66C9.44,3.5 10.4,4.58 10.76,6.86C11.15,9.33 11.42,10.86 11.57,11.46C12,13.5 12.5,14.5 13.05,14.5C13.47,14.5 14.1,13.86 14.94,12.53C15.78,11.21 16.23,10.2 16.29,9.5C16.41,8.36 15.96,7.79 14.94,7.79C14.46,7.79 13.97,7.9 13.46,8.12C14.44,4.89 16.32,3.32 19.09,3.41C21.15,3.47 22.12,4.81 22,7.42Z"
      fill="currentColor" />

    {%- when 'whatsapp' -%}
    <path fill="currentColor" fill-rule="evenodd"
      d="M18.377 5.616A8.924 8.924 0 0 0 12.037 3c-4.94 0-8.96 4-8.962 8.919 0 1.572.412 3.106 1.197 4.459L3 21l4.751-1.24a8.985 8.985 0 0 0 4.283 1.085h.004c4.94 0 8.96-4.001 8.962-8.919 0-2.383-.93-4.624-2.623-6.31Zm-6.34 13.723h-.002a7.467 7.467 0 0 1-3.792-1.033l-.272-.161-2.82.736.753-2.736-.177-.28a7.368 7.368 0 0 1-1.139-3.946c.002-4.087 3.344-7.413 7.453-7.413 1.99.001 3.86.773 5.266 2.175a7.35 7.35 0 0 1 2.18 5.244c-.002 4.088-3.343 7.413-7.45 7.413Zm4.087-5.552c-.224-.112-1.325-.65-1.53-.725-.206-.074-.355-.112-.504.112-.15.223-.579.725-.71.873-.13.15-.26.167-.485.056-.223-.112-.945-.347-1.8-1.106-.666-.591-1.116-1.32-1.246-1.544-.13-.223-.014-.344.098-.455.1-.1.224-.26.336-.39.112-.13.149-.223.224-.372.074-.149.037-.279-.019-.39-.056-.112-.503-1.209-.69-1.655-.182-.434-.367-.375-.504-.383a9.085 9.085 0 0 0-.43-.007.824.824 0 0 0-.597.279c-.205.223-.784.762-.784 1.859 0 1.096.803 2.156.915 2.305.112.15 1.58 2.4 3.825 3.366.535.23.952.367 1.277.47.537.169 1.025.145 1.41.088.43-.064 1.325-.54 1.512-1.06.186-.52.186-.967.13-1.06-.055-.093-.205-.149-.429-.26v-.001Z"
      clip-rule="evenodd" />

    {%- when 'play' -%}
      <path fill="currentColor" d="M5 3.868v16.264c0 .964 1.037 1.58 1.876 1.11l12.013-7.133a1.25 1.25 0 000-2.22L6.876 2.758C6.037 2.287 5 2.903 5 3.868z"></path>
    {%- when 'pause' -%}
      <path fill="currentColor" d="M6 2h3c1.1 0 2 .9 2 2v16c0 1.1-.9 2-2 2H6c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2z"></path>
      <path fill="currentColor" d="M15 2h3c1.1 0 2 .9 2 2v16c0 1.1-.9 2-2 2h-3c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2z"></path>
    {%- when 'email' -%}
    <path fill="currentColor" fill-rule="evenodd"
      d="M11.007 7.465c-.575.445-1.415 1.094-2.03 1.083-.615.01-1.454-.638-2.03-1.083-.119-.092-.227-.175-.319-.242-3.935-2.856-4.501-3.299-5.342-3.957l-.206-.161A.77.77 0 0 1 .785 2.5v-.608c0-.848.688-1.536 1.536-1.536h13.312c.848 0 1.536.688 1.536 1.536V2.5c0 .237-.109.46-.294.605l-.16.125c-.868.682-1.38 1.084-5.389 3.993-.092.067-.2.15-.319.242Zm6.162-2.901a.193.193 0 0 0-.31-.15c-.717.556-1.664 1.267-4.928 3.638-.1.072-.21.158-.331.251-.672.52-1.655 1.28-2.623 1.272-.964.006-1.93-.74-2.613-1.267a16.545 16.545 0 0 0-.337-.256C2.763 5.681 1.812 4.974 1.096 4.417a.191.191 0 0 0-.31.15v6.541c0 .848.687 1.536 1.535 1.536h13.312c.848 0 1.536-.688 1.536-1.536V4.564Z"
      clip-rule="evenodd" />

    {%- when 'icon-rewind' -%}
    <path
      d="m21.128 6.313c-.346 0-.705.12-1.069.357l-6.646 4.32c-.549.356-.866.864-.904 1.403v-4.393c0-1.165-.693-1.687-1.38-1.687-.346 0-.705.12-1.069.357l-6.646 4.32c-.585.38-.92.93-.92 1.509s.335 1.129.92 1.509l6.646 4.32c.364.237.724.357 1.069.357.417 0 .783-.18 1.033-.506.227-.297.347-.705.347-1.181v-4.395c.038.539.355 1.047.904 1.403l6.646 4.32c.364.237.724.357 1.069.357.417 0 .783-.18 1.033-.506.227-.297.347-.705.347-1.181v-8.996c0-1.165-.694-1.687-1.38-1.687zm-9.62 10.687c0 .251-.05.454-.141.573-.143.186-.43.136-.764-.082l-6.646-4.32c-.3-.195-.465-.433-.465-.671s.165-.476.465-.671l6.646-4.32c.193-.126.38-.195.524-.195.343 0 .38.48.38.687v8.999zm10 0c0 .251-.05.454-.141.573-.144.186-.429.136-.764-.082l-6.646-4.32c-.3-.195-.465-.433-.465-.671s.165-.476.465-.671l6.646-4.32c.193-.126.38-.195.524-.195.343 0 .38.48.38.687v8.999z" />

    {%- when 'product-bag' -%}
    <path
      d="M16.63 17.47l-.6-11a.51.51 0 00-.5-.47h-2v-.43a3.5 3.5 0 00-7 0V6h-2a.51.51 0 00-.5.47l-.62 11a.49.49 0 00.49.53h12.3a.49.49 0 00.43-.53zm-12.31-.42L4.9 7h10.2l.56 10.1-11.34-.05zM7.5 5.57a2.5 2.5 0 115 0V6h-5v-.43z"
      fill="currentColor"></path>

    {%- when 'menu' -%}
      <path d="M20.7774 3.80591L2.44407 3.80591" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M20.7774 11.1389L2.44407 11.1389" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M20.7774 18.4724L2.44407 18.4724" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>

    {%- when 'close' -%}
      <path d="M4.14258 4.14233L20.6426 20.6423" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M20.6426 4.14233L4.14258 20.6423" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>

    {%- when 'search' -%}
      <path d="M20.7748 19.6875L15.9656 14.8793C17.3595 13.2058 18.0546 11.0594 17.9062 8.88649C17.7579 6.7136 16.7775 4.68155 15.1691 3.21306C13.5607 1.74457 11.448 0.952702 9.27066 1.00219C7.09327 1.05167 5.01878 1.9387 3.47874 3.47874C1.9387 5.01878 1.05167 7.09327 1.00219 9.27066C0.952702 11.448 1.74457 13.5607 3.21306 15.1691C4.68155 16.7775 6.7136 17.7579 8.88649 17.9062C11.0594 18.0546 13.2058 17.3595 14.8793 15.9656L19.6875 20.7748C19.7589 20.8462 19.8437 20.9028 19.937 20.9415C20.0302 20.9801 20.1302 21 20.2312 21C20.3321 21 20.4321 20.9801 20.5254 20.9415C20.6187 20.9028 20.7034 20.8462 20.7748 20.7748C20.8462 20.7034 20.9028 20.6187 20.9415 20.5254C20.9801 20.4321 21 20.3321 21 20.2312C21 20.1302 20.9801 20.0302 20.9415 19.937C20.9028 19.8437 20.8462 19.7589 20.7748 19.6875ZM2.55803 9.47361C2.55803 8.10583 2.96362 6.76878 3.72351 5.63151C4.4834 4.49425 5.56347 3.60787 6.82713 3.08444C8.09078 2.56102 9.48128 2.42407 10.8228 2.69091C12.1643 2.95775 13.3965 3.61639 14.3637 4.58355C15.3308 5.55071 15.9895 6.78295 16.2563 8.12444C16.5231 9.46593 16.3862 10.8564 15.8628 12.1201C15.3393 13.3837 14.453 14.4638 13.3157 15.2237C12.1784 15.9836 10.8414 16.3892 9.47361 16.3892C7.6401 16.3872 5.88228 15.6579 4.5858 14.3614C3.28932 13.0649 2.56006 11.3071 2.55803 9.47361Z" fill="currentColor"/>

    {%- when 'wishlist' -%}
      <path d="M11.3125 19.9375C11.3125 19.9375 0.75 14.25 0.75 7.54688C0.75 6.09233 1.32782 4.69736 2.35634 3.66884C3.38486 2.64032 4.77983 2.0625 6.23438 2.0625C8.52867 2.0625 10.4939 3.31273 11.3125 5.3125C12.1311 3.31273 14.0963 2.0625 16.3906 2.0625C17.8452 2.0625 19.2401 2.64032 20.2687 3.66884C21.2972 4.69736 21.875 6.09233 21.875 7.54688C21.875 14.25 11.3125 19.9375 11.3125 19.9375Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>

    {%- when 'account' -%}
      <path d="M20.6488 19.2428C19.2209 16.7743 17.0206 15.0043 14.4528 14.1653C15.723 13.4092 16.7098 12.257 17.2618 10.8857C17.8137 9.51445 17.9003 7.99991 17.5082 6.57468C17.1161 5.14945 16.267 3.89234 15.0912 2.9964C13.9155 2.10046 12.4782 1.61523 11 1.61523C9.52182 1.61523 8.08451 2.10046 6.90878 2.9964C5.73306 3.89234 4.88394 5.14945 4.49183 6.57468C4.09971 7.99991 4.18629 9.51445 4.73825 10.8857C5.29021 12.257 6.27704 13.4092 7.5472 14.1653C4.97938 15.0034 2.77907 16.7734 1.35126 19.2428C1.2989 19.3282 1.26417 19.4232 1.24912 19.5222C1.23407 19.6212 1.239 19.7222 1.26363 19.8193C1.28825 19.9164 1.33207 20.0075 1.3925 20.0874C1.45293 20.1673 1.52874 20.2342 1.61547 20.2843C1.7022 20.3344 1.79808 20.3666 1.89745 20.3791C1.99683 20.3915 2.0977 20.3839 2.19409 20.3568C2.29049 20.3296 2.38047 20.2834 2.45872 20.2209C2.53697 20.1583 2.6019 20.0808 2.6497 19.9928C4.41595 16.9403 7.53782 15.1178 11 15.1178C14.4622 15.1178 17.5841 16.9403 19.3503 19.9928C19.3981 20.0808 19.4631 20.1583 19.5413 20.2209C19.6196 20.2834 19.7095 20.3296 19.8059 20.3568C19.9023 20.3839 20.0032 20.3915 20.1026 20.3791C20.2019 20.3666 20.2978 20.3344 20.3845 20.2843C20.4713 20.2342 20.5471 20.1673 20.6075 20.0874C20.6679 20.0075 20.7118 19.9164 20.7364 19.8193C20.761 19.7222 20.766 19.6212 20.7509 19.5222C20.7358 19.4232 20.7011 19.3282 20.6488 19.2428ZM5.75001 8.36778C5.75001 7.32943 6.05792 6.3144 6.63479 5.45104C7.21167 4.58768 8.03161 3.91478 8.99092 3.51742C9.95023 3.12006 11.0058 3.01609 12.0242 3.21866C13.0426 3.42123 13.9781 3.92125 14.7123 4.65547C15.4465 5.3897 15.9466 6.32516 16.1491 7.34356C16.3517 8.36196 16.2477 9.41756 15.8504 10.3769C15.453 11.3362 14.7801 12.1561 13.9168 12.733C13.0534 13.3099 12.0384 13.6178 11 13.6178C9.60808 13.6163 8.27359 13.0627 7.28934 12.0785C6.3051 11.0942 5.7515 9.75971 5.75001 8.36778Z" fill="currentColor"/>

    {%- when 'cart' -%}
      <path d="M20.9495 4.89296C20.8791 4.80872 20.7911 4.74095 20.6916 4.69446C20.5922 4.64797 20.4837 4.62388 20.3739 4.6239H5.25015L4.68015 1.48984C4.64876 1.31703 4.5577 1.16072 4.42287 1.04816C4.28804 0.935595 4.11798 0.873927 3.94234 0.873901H1.6239C1.42499 0.873901 1.23422 0.952919 1.09357 1.09357C0.952919 1.23422 0.873901 1.42499 0.873901 1.6239C0.873901 1.82281 0.952919 2.01358 1.09357 2.15423C1.23422 2.29488 1.42499 2.3739 1.6239 2.3739H3.3114L5.70765 15.5261C5.77824 15.9161 5.95061 16.2806 6.20734 16.5827C5.85301 16.9136 5.59726 17.3362 5.46846 17.8037C5.33965 18.2711 5.34282 18.7651 5.47762 19.2308C5.61241 19.6965 5.87356 20.1158 6.23211 20.4422C6.59066 20.7686 7.0326 20.9893 7.50892 21.0798C7.98525 21.1704 8.47734 21.1272 8.93064 20.9552C9.38393 20.7831 9.78072 20.4889 10.077 20.1051C10.3733 19.7213 10.5575 19.2629 10.6092 18.7809C10.6609 18.2988 10.578 17.8118 10.3698 17.3739H14.628C14.4602 17.7252 14.3734 18.1096 14.3739 18.4989C14.3739 19.0181 14.5279 19.5256 14.8163 19.9573C15.1047 20.389 15.5147 20.7254 15.9944 20.9241C16.474 21.1228 17.0018 21.1747 17.511 21.0735C18.0202 20.9722 18.4879 20.7222 18.8551 20.3551C19.2222 19.9879 19.4722 19.5202 19.5735 19.011C19.6747 18.5018 19.6228 17.974 19.4241 17.4944C19.2254 17.0147 18.889 16.6047 18.4573 16.3163C18.0256 16.0279 17.5181 15.8739 16.9989 15.8739H7.92109C7.74545 15.8739 7.57539 15.8122 7.44056 15.6996C7.30572 15.5871 7.21467 15.4308 7.18328 15.258L6.88609 13.6239H17.7611C18.288 13.6238 18.7982 13.4388 19.2027 13.1011C19.6072 12.7635 19.8803 12.2945 19.9745 11.7761L21.1145 5.50796C21.1338 5.39963 21.129 5.28837 21.1005 5.18208C21.072 5.0758 21.0205 4.97709 20.9495 4.89296ZM9.1239 18.4989C9.1239 18.7214 9.05792 18.9389 8.93431 19.1239C8.81069 19.3089 8.63499 19.4531 8.42942 19.5383C8.22385 19.6234 7.99765 19.6457 7.77942 19.6023C7.5612 19.5589 7.36074 19.4517 7.20341 19.2944C7.04607 19.1371 6.93893 18.9366 6.89552 18.7184C6.85211 18.5001 6.87439 18.274 6.95954 18.0684C7.04469 17.8628 7.18888 17.6871 7.37389 17.5635C7.55889 17.4399 7.7764 17.3739 7.9989 17.3739C8.29727 17.3739 8.58342 17.4924 8.7944 17.7034C9.00537 17.9144 9.1239 18.2005 9.1239 18.4989ZM18.1239 18.4989C18.1239 18.7214 18.0579 18.9389 17.9343 19.1239C17.8107 19.3089 17.635 19.4531 17.4294 19.5383C17.2239 19.6234 16.9977 19.6457 16.7794 19.6023C16.5612 19.5589 16.3607 19.4517 16.2034 19.2944C16.0461 19.1371 15.9389 18.9366 15.8955 18.7184C15.8521 18.5001 15.8744 18.274 15.9595 18.0684C16.0447 17.8628 16.1889 17.6871 16.3739 17.5635C16.5589 17.4399 16.7764 17.3739 16.9989 17.3739C17.2973 17.3739 17.5834 17.4924 17.7944 17.7034C18.0054 17.9144 18.1239 18.2005 18.1239 18.4989ZM18.4989 11.508C18.4674 11.6813 18.376 11.8379 18.2405 11.9506C18.1051 12.0632 17.9344 12.1245 17.7583 12.1239H6.61328L5.52296 6.1239H19.4748L18.4989 11.508Z" fill="currentColor"/>

    {%- when 'instagram' -%}
      <path fill-rule="evenodd" clip-rule="evenodd" d="M20.7959 11C20.7959 9.05273 20.7747 7.70496 20.7322 6.95665C20.6471 5.18794 20.1199 3.8189 19.1505 2.84951C18.1811 1.88012 16.8121 1.35291 15.0434 1.26788C14.2951 1.22536 12.9473 1.2041 11 1.2041C9.05273 1.2041 7.70496 1.22536 6.95665 1.26788C5.18794 1.35291 3.8189 1.88012 2.84951 2.84951C1.88012 3.8189 1.35291 5.18794 1.26788 6.95665C1.22536 7.70496 1.2041 9.05273 1.2041 11C1.2041 12.9473 1.22536 14.2951 1.26788 15.0434C1.35291 16.8121 1.88012 18.1811 2.84951 19.1505C3.8189 20.1199 5.18794 20.6471 6.95665 20.7322C7.70496 20.7747 9.05273 20.7959 11 20.7959C12.9473 20.7959 14.2951 20.7747 15.0434 20.7322C16.8121 20.6471 18.1811 20.1199 19.1505 19.1505C20.1199 18.1811 20.6471 16.8121 20.7322 15.0434C20.7747 14.2951 20.7959 12.9473 20.7959 11ZM11.969 2.96429H10.9996C10.9401 2.96429 10.6149 2.96216 10.0239 2.95791C9.43289 2.95366 8.98434 2.95366 8.67821 2.95791C8.37209 2.96216 7.9618 2.97492 7.44735 2.99617C6.93289 3.01743 6.49497 3.05995 6.13357 3.12373C5.77217 3.1875 5.46818 3.26616 5.22158 3.35969C4.79641 3.52976 4.42226 3.77636 4.09913 4.09949C3.776 4.42262 3.52941 4.79677 3.35934 5.22194C3.2658 5.46854 3.18714 5.77253 3.12337 6.13393C3.05959 6.49533 3.01707 6.93325 2.99582 7.4477C2.97456 7.96216 2.9618 8.37245 2.95755 8.67857C2.9533 8.98469 2.9533 9.43325 2.95755 10.0242C2.9618 10.6152 2.96393 10.9405 2.96393 11C2.96393 11.0595 2.9618 11.3848 2.95755 11.9758C2.9533 12.5668 2.9533 13.0153 2.95755 13.3214C2.9618 13.6276 2.97456 14.0378 2.99582 14.5523C3.01707 15.0668 3.05959 15.5047 3.12337 15.8661C3.18714 16.2275 3.2658 16.5315 3.35934 16.7781C3.52941 17.2032 3.776 17.5774 4.09913 17.9005C4.42226 18.2236 4.79641 18.4702 5.22158 18.6403C5.46818 18.7338 5.77217 18.8125 6.13357 18.8763C6.49497 18.9401 6.93289 18.9826 7.44735 19.0038C7.9618 19.0251 8.37209 19.0378 8.67821 19.0421C8.98434 19.0463 9.43289 19.0463 10.0239 19.0421C10.6149 19.0378 10.9401 19.0357 10.9996 19.0357C11.0592 19.0357 11.3844 19.0378 11.9754 19.0421C12.5664 19.0463 13.0149 19.0463 13.3211 19.0421C13.6272 19.0378 14.0375 19.0251 14.5519 19.0038C15.0664 18.9826 15.5043 18.9401 15.8657 18.8763C16.2271 18.8125 16.5311 18.7338 16.7777 18.6403C17.2029 18.4702 17.577 18.2236 17.9002 17.9005C18.2233 17.5774 18.4699 17.2032 18.6399 16.7781C18.7335 16.5315 18.8121 16.2275 18.8759 15.8661C18.9397 15.5047 18.9822 15.0668 19.0035 14.5523C19.0247 14.0378 19.0375 13.6276 19.0417 13.3214C19.046 13.0153 19.046 12.5668 19.0417 11.9758C19.0375 11.3848 19.0354 11.0595 19.0354 11C19.0354 10.9405 19.0375 10.6152 19.0417 10.0242C19.046 9.43325 19.046 8.98469 19.0417 8.67857C19.0375 8.37245 19.0247 7.96216 19.0035 7.4477C18.9822 6.93325 18.9397 6.49533 18.8759 6.13393C18.8121 5.77253 18.7335 5.46854 18.6399 5.22194C18.4699 4.79677 18.2233 4.42262 17.9002 4.09949C17.577 3.77636 17.2029 3.52976 16.7777 3.35969C16.5311 3.26616 16.2271 3.1875 15.8657 3.12373C15.5043 3.05995 15.0664 3.01743 14.5519 2.99617C14.0375 2.97492 13.6272 2.96216 13.3211 2.95791C13.0149 2.95366 12.5643 2.95578 11.969 2.96429ZM17.4027 5.77049C17.4027 5.44736 17.2879 5.171 17.0583 4.94141C16.8288 4.71182 16.5524 4.59702 16.2293 4.59702C15.9061 4.59702 15.6298 4.71182 15.4002 4.94141C15.1706 5.171 15.0558 5.44736 15.0558 5.77049C15.0558 6.09362 15.1706 6.36998 15.4002 6.59957C15.6298 6.82917 15.9061 6.94396 16.2293 6.94396C16.5524 6.94396 16.8288 6.82917 17.0583 6.59957C17.2879 6.36998 17.4027 6.09362 17.4027 5.77049ZM14.5592 7.44136C15.5371 8.41926 16.0261 9.60547 16.0261 11C16.0261 12.3946 15.5371 13.5808 14.5592 14.5587C13.5814 15.5366 12.3951 16.0255 11.0006 16.0255C9.60601 16.0255 8.4198 15.5366 7.4419 14.5587C6.46401 13.5808 5.97507 12.3946 5.97507 11C5.97507 9.60547 6.46401 8.41926 7.4419 7.44136C8.4198 6.46347 9.60601 5.97453 11.0006 5.97453C12.3951 5.97453 13.5814 6.46347 14.5592 7.44136ZM13.3093 13.3086C13.9471 12.6709 14.266 11.9013 14.266 10.9999C14.266 10.0986 13.9471 9.32903 13.3093 8.69127C12.6716 8.05351 11.902 7.73464 11.0007 7.73464C10.0993 7.73464 9.32974 8.05351 8.69198 8.69127C8.05423 9.32903 7.73535 10.0986 7.73535 10.9999C7.73535 11.9013 8.05423 12.6709 8.69198 13.3086C9.32974 13.9464 10.0993 14.2652 11.0007 14.2652C11.902 14.2652 12.6716 13.9464 13.3093 13.3086Z" fill="currentColor"/>

    {%- when 'facebook' -%}
      <path d="M16.1429 1.23807V4.38093H14.2738C13.5913 4.38093 13.131 4.52378 12.8929 4.8095C12.6548 5.09522 12.5357 5.52378 12.5357 6.09521V8.34521H16.0238L15.5596 11.869H12.5357V20.9047H8.89289V11.869H5.85718V8.34521H8.89289V5.74998C8.89289 4.27378 9.30559 3.12895 10.131 2.31545C10.9564 1.50196 12.0556 1.09521 13.4286 1.09521C14.5953 1.09521 15.5 1.14283 16.1429 1.23807Z" fill="currentColor"/>

    {%- when 'tiktok' -%}
      <path d="M14.9583 8.91C16.5723 10.0252 18.5114 10.6236 20.5 10.62V6.82C19.0303 6.82 17.6207 6.2595 16.5815 5.26181C15.5422 4.26411 14.9583 2.91095 14.9583 1.5H11V14.04C10.9998 14.516 10.8665 14.9832 10.6142 15.3929C10.3618 15.8026 9.99951 16.1398 9.56514 16.3693C9.13076 16.5988 8.64019 16.7122 8.14461 16.6976C7.64903 16.6831 7.16658 16.5412 6.7476 16.2867C6.32862 16.0322 5.98845 15.6744 5.76257 15.2507C5.53669 14.827 5.43339 14.3528 5.46342 13.8777C5.49346 13.4026 5.65574 12.944 5.93335 12.5496C6.21095 12.1552 6.5937 11.8395 7.04167 11.6356V7.58C3.89182 8.11865 1.5 10.8613 1.5 14.04C1.5 15.7533 2.20896 17.3964 3.47093 18.6079C4.73289 19.8194 6.44448 20.5 8.22917 20.5C10.0139 20.5 11.7254 19.8194 12.9874 18.6079C14.2494 17.3964 14.9583 15.7533 14.9583 14.04V8.91Z" fill="currentColor"/>

    {%- when 'youtube' -%}
      <g clip-path="url(#clip0_2001_1024)">
        <path d="M15.5206 10.9412L10.7383 7.75293V14.1294L15.5206 10.9412Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M1.9707 10.9414C1.9707 13.9214 2.27658 15.669 2.50972 16.5677C2.57137 16.8121 2.69011 17.0384 2.85621 17.2281C3.0223 17.4177 3.23101 17.5653 3.46519 17.6586C6.80487 18.9469 12.3325 18.912 12.3325 18.912C12.3325 18.912 17.8601 18.9469 21.1998 17.6586C21.4347 17.5658 21.6442 17.4185 21.811 17.2288C21.9778 17.0391 22.0972 16.8125 22.1592 16.5677C22.3924 15.671 22.6983 13.9214 22.6983 10.9414C22.6983 7.96139 22.3924 6.21384 22.1592 5.31515C22.0979 5.06938 21.9789 4.84177 21.812 4.65118C21.6452 4.46059 21.4353 4.3125 21.1998 4.21919C17.8601 2.93592 12.3325 2.9708 12.3325 2.9708C12.3325 2.9708 6.80487 2.93592 3.46519 4.22417C3.22969 4.31748 3.01982 4.46557 2.85297 4.65616C2.68611 4.84675 2.56708 5.07436 2.50573 5.32013C2.27658 6.21284 1.9707 7.96139 1.9707 10.9414Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      <defs>
        <clipPath id="clip0_2001_1024">
          <rect width="25" height="20" fill="white" transform="translate(0 1)"/>
        </clipPath>
      </defs>

      {%- when 'arrow-right' -%}
        <g>
          <path stroke="currentColor" stroke-width="1.075" d="M.954 7.55H15.62M9.778 2.218c.106 1.206.943 3.588 2.984 4.57 1.714.826 2.984.762 3.238.762"/>
          <path stroke="currentColor" stroke-width="1.075" d="M9.651 12.884c.106-1.206.944-3.588 2.984-4.571 1.714-.825 2.984-.762 3.238-.762"/>
        </g>

      {%- when 'arrow-right-2' -%}
        <g>
          <rect width="40" height="40" fill="currentColor" rx="20" transform="matrix(-1 0 0 1 40 0)"/>
          <path stroke="#fffefb" stroke-width="1.5" d="M18 13c.119 1.583 1.061 4.71 3.357 5.999 1.929 1.083 3.357 1 3.643 1"/>
          <path stroke="#fffefb" stroke-width="1.5" d="M18 27c.119-1.583 1.061-4.71 3.357-5.999 1.929-1.083 3.357-1 3.643-1"/>
        </g>

      {%- when 'arrow-down' -%}
        <path d="M14.0562 0.747925C12.4732 0.866972 9.34698 1.80889 8.05742 4.10507C6.97432 6.03364 7.05763 7.46221 7.05763 7.74793" stroke="#060217" stroke-width="1.5"/>
        <path d="M0.0561523 0.747925C1.63915 0.866972 4.76533 1.80889 6.05488 4.10507C7.13799 6.03364 7.05467 7.46221 7.05467 7.74793" stroke="#060217" stroke-width="1.5"/>

      {%- when 'chevron-right' -%}
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="11" fill="none"></svg>
        <path stroke="currentColor" stroke-width="1.075" d="M.662.047c.106 1.206.943 3.588 2.984 4.57 1.714.826 2.984.763 3.238.763"/><path stroke="currentColor" stroke-width="1.075" d="M.535 10.714c.106-1.207.943-3.589 2.984-4.571 1.714-.826 2.984-.762 3.238-.762"/>

      {%- when 'chevron-left' -%}
        <path stroke="currentColor" stroke-width="1.075" d="M6.222.047c-.106 1.206-.943 3.588-2.984 4.57C1.524 5.444.254 5.38 0 5.38"/><path stroke="currentColor" stroke-width="1.075" d="M6.349 10.714c-.106-1.207-.943-3.589-2.984-4.571C1.65 5.317.38 5.38.127 5.38"/>

      {%- when 'chevron-down' -%}
        <path stroke="currentColor" stroke-width="1.032" d="M10.039.514C8.908.6 6.675 1.272 5.754 2.912 4.98 4.29 5.04 5.31 5.04 5.514"/><path stroke="currentColor" stroke-width="1.032" d="M.039.514c1.13.085 3.363.758 4.285 2.398.773 1.378.714 2.398.714 2.602"/>

      {%- when 'shopping-bag' -%}
          <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.25">
            <path d="M16.875 3.75H3.125a.625.625 0 0 0-.625.625v11.25c0 .345.28.625.625.625h13.75c.345 0 .625-.28.625-.625V4.375a.625.625 0 0 0-.625-.625"/>
            <path d="M13.125 6.875a3.125 3.125 0 1 1-6.25 0"/>
          </g>

      {%- when 'tooltip' -%}
        <path fill="currentColor" d="M8.286 3.456h-1.19V2h1.19v1.456Zm-1.19 1.302h1.19v7.238h-1.19V4.758Z"/>
    {%- endcase -%}
  </svg>
</span>
