{%- if prod.metafields.loox.num_reviews > 0 -%}
  <div class="loox-rating" data-id="{{ prod.id }}" data-rating="{{ prod.metafields.loox.avg_rating }}" data-raters="{{ prod.metafields.loox.num_reviews }}"></div>
{%- endif -%}
